body {
	background: rgb(162,223,237);
}
h1 {
	text-align: center;
	font-family: "Helvetica", sans-serif;
	color: black;
}
h3 {
	text-align: center;
	font-family: "Helvetica", sans-serif;
	color: black;
}

.tarefa{
    position:Absolute;
    top:18%;
    left:10%;
    font-family: "Helvetica", sans-serif;
    font-size:20px;
	color: black;
}

input[type=text1]{
	position:Absolute;
    top:22%;
    left:10%;
	padding:10px;
	width:500px;
	border: 1px solid #999;
	outline:0;
}

.descricao{
    position:Absolute;
    top:30%;
    left:10%;
    font-family: "Helvetica", sans-serif;
    font-size:20px;
	color: black;
}

input[type=text2]{
	position:Absolute;
    top:35%;
    left:10%;
	padding:10px;
	width:500px;
	border: 1px solid #999;
	outline:0;
}

.dt_inicio{
    position:Absolute;
    top:43%;
    left:10%;
    font-family: "Helvetica", sans-serif;
    font-size:20px;
	color: black;
}

.campo_dtinicio{
	position:Absolute;
    top:46%;
    left:10%;
	padding:10px;
	width:200px;
	outline:0;
}

.dt_fim{
    position:Absolute;
    top:54%;
    left:10%;
    font-family: "Helvetica", sans-serif;
    font-size:20px;
	color: black;
}

.campo_dtfim{
	position:Absolute;
    top:57%;
    left:10%;
	padding:10px;
	width:200px;
	outline:0;
}

.hora_inicio{
    position:Absolute;
    top:64%;
    left:10%;
    font-family: "Helvetica", sans-serif;
    font-size:20px;
	color: black;
}

.campo_hrinicio{
	position:Absolute;
    top:67%;
    left:10%;
	padding:10px;
	width:200px;
	outline:0;
}

.hora_fim{
    position:Absolute;
    top:75%;
    left:10%;
    font-family: "Helvetica", sans-serif;
    font-size:20px;
	color: black;
}

.campo_hrfim{
	position:Absolute;
    top:78%;
    left:10%;
	padding:10px;
	width:200px;
	outline:0;
}

.responsavel{
    position:Absolute;
    top:86%;
    left:10%;
    font-family: "Helvetica", sans-serif;
    font-size:20px;
	color: black;
}

input[type=text3]{
	position:Absolute;
    top:90%;
    left:10%;
	padding:10px;
	width:500px;
	border: 1px solid #999;
	outline:0;
}


.button{
	position:absolute;
    top:98%;
    left:10%;
    background-color: steelblue;
    padding: 6px 70px;
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 6px 4px;
    cursor: pointer;
}
